@model FA.JustBlog.Common.Paginated<FA.JustBlog.Models.Common.Tag>

@{
    ViewBag.Title = "Tag Management";
}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<h2 class="text-center">Tag Management</h2>
<hr />
<div>
    <a href="@Url.Action("Create", "TagManagement")" class="btn btn-success fas fa-plus"></a>

    <form action="@Url.Action("Index", "TagManagement")" method="get" class="form-inline float-right">
        <div class="form-group mx-sm-3 mb-2">
            <input type="text"size="30"style="height:32px" class="form-control mr-3" id="inputSearch" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Input String...">
            <button type="submit" class=" form-control btn btn-success">
                Search
                <span class="spinner-border spinner-border-sm"></span>
            </button>
            <a href="@Url.Action("Index")" class="btn btn-default">
                <span style="font-size: 1em; color: rebeccapurple;">
                    <i class="btn btn-danger fa fa-refresh"></i>
                </span>
            </a>
        </div>
    </form>
</div>

@if (!Model.Any())
{
    <h3 class="text-center">Don't have a tag yet.</h3>
}
else
{
    <table class="table table-condensed table-bordered">
        <tr class="d-flex">
            <th class="col-md-2">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder = ViewData["NameSortParm"], currentFilter = ViewData["CurrentFilter"] })">Name</a>
            </th>
            <th class="col-md-2">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder = ViewData["UrlSlugSortParm"], currentFilter = ViewData["CurrentFilter"] })">Url Slug</a>
            </th>
            <th class="col-md-2">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder = ViewData["DescriptionSortParm"], currentFilter = ViewData["CurrentFilter"] })">Description</a>
            </th>
            <th class="col-md-2">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder = ViewData["TotalPostsSortParm"], currentFilter = ViewData["CurrentFilter"] })">Total Posts</a>
            </th>
            <th class="col-md-2">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder = ViewData["InsertedAtSortParm"], currentFilter = ViewData["CurrentFilter"] })">Inserted At</a>
            </th>
            <th class="col-md-2">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder = ViewData["UpdatedAtSortParm"], currentFilter = ViewData["CurrentFilter"] })">Updated At</a>
            </th>
            <th class="col-md-2">Manage</th>
        </tr>

        @foreach (var tag in Model)
        {
            <tr class="d-flex">
                <td class="col-md-2">
                    <a href="@Url.Action("Details", new { id = tag.Id})">
                        @tag.Name
                    </a>
                </td>
                <td class="col-md-2">
                    @tag.UrlSlug
                </td>
                <td class="col-md-2">
                    @tag.Description
                </td>
                <td class="col-md-2">
                    @Html.Raw(tag.Posts.Count)
                </td>
                <td class="col-md-2">
                    @tag.InsertedAt
                </td>
                <td class="col-md-2">
                    @tag.UpdatedAt
                </td>
                <td class="col-md-2">
                    <form action="@Url.Action("Delete", "TagManagement", new{ id = tag.Id })" method="post">
                        <a href="@Url.Action("Edit", "TagManagement", new { id = tag.Id})"class="btn btn-info">
                            <span style="font-size: 1.5em; color: darkmagenta;">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                        <button type="submit" onclick="return confirm('Are you sure to delete this tag?');"class="btn btn-info">
                            <span style="font-size: 1.5em; color: darkmagenta;">
                                <i class="fas fa-trash"></i>
                            </span>
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                ViewBag.PageRange = 3;
            }
            <li class="page-item">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=1, currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @prevDisabled"><<</a>
            <li class="page-item">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.PageIndex - 1 <= 0 ? 1 : Model.PageIndex - 1), currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @prevDisabled"><</a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i >= Model.PageIndex - ViewBag.PageRange && i <= Model.PageIndex + ViewBag.PageRange)
                {
                    <li class="page-item">
                        <a class="@(i==Model.PageIndex ? "Current" : "") page-link"
                           href="@Url.Action("Index", "TagManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=i, currentFilter=ViewData["CurrentFilter"] })">@i</a>
                    </li>
                }
            }
            <li class="page-item">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.PageIndex + 1 > Model.TotalPages ? Model.TotalPages : Model.PageIndex + 1), currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @nextDisabled">></a>
            <li class="page-item">
                <a href="@Url.Action("Index", "TagManagement", new { sortOrder=ViewData["CurrentSort"], pageIndex=(Model.TotalPages), currentFilter=ViewData["CurrentFilter"] })"
                   class="btn page-link @nextDisabled">>></a>
        </ul>
    </nav>
}
